html, body {
    width: 100px;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .save-csv:hover {
    background-color: yellow;
  }
  
  .save-csv {
    background-color: red;
  }

  .save-excel:hover {
    background-color: yellow;
  }
  
  .save-excel {
    background-color: red;
  }
  
  .share {
    background-color: red;
  }
  
  .share:hover {
    background-color: greenyellow;
  }